@using WebRestaurant;
@model Produs

<div>

    <h2>@Model.Title</h2>
    <p><em>@Model.Details</em></p>
    <h3>Price in RON:@Model.Price</h3>
    <img src="@Model.ImageUrl" width="600" />





</div>